/* @theme custom */

@import 'gaia';
/* Style Action title */
h1 {
  font-size: 14px;
    color: #a4afb7;
    margin-bottom: 5px;
}
h2 {
    font-size: 26px;
    color:  #557A95;
    margin-top: 0px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
}

h3 {
    font-size: 22px;
    color: black;
}

h4,
#p {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

/* Footnote */
h6 {
  position: absolute;
  top: 650px;
  font-size: 12px;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: normal;
}

/* Style slide master */
section {
  background: white;
  font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

/* Style footer - page number */
section::after {
    font-weight: bold;
    color: white; 
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    padding-right: 40px;
  }

footer,
#section
{
    height: 40px;
    line-height: 20px;
    background-color: #557A95;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 40px;
}

footer h1 {
  margin-bottom: 60px;
  color: red;
}

/* Define bold and italic */


s {
    text-decoration: none;
    background: #478aba;
    color: white; 
    font-style: normal; 
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 10px;
  }
blockquote:before {
color: #ccc;
content: "";
margin-right: 0.25em;
vertical-align: -0.4em;
}
blockquote:after {
    content: "";
}
blockquote p {
color: #557A95;
}

/* code block and formula blocks */

pre {
    font-size: 30px;
}

span.katex-html {
    font-size: 20px;
}

/* Title Slide  class */
section.title 
{
  background-color: white;
  width: max;
}

section.title h1 {
  font-size: 40px;
  color: #557A95;
  margin-top: 260px;
  border-bottom: 2px solid #557A95;
}
section.title h2 {
  font-size: 22px;
  color: #a4afb7;
  border-bottom: 0px ;
}

section.title footer {
  color: #a4afb7;
  border-bottom: 0px ;
  background-color: white;
}

/* Chapter slide class */

section.chapter
 {
  background-color: #557A95;
  width: max;
}

section.chapter h1 {
  font-size: 40px;
  color: white;
  margin-top: 320px;
  border-bottom: 2px solid white;
}


img[alt~="center"] {
  display: block;
  margin: 0 auto;
}


table tr td:empty {
  width: 50px;
}
  
table tbody td {
  padding: 10px
}

table thead th  {
  padding: 10px;
  background: #557A95;
  color: white;
  border: none
}

table thead td {
  border: none;
}
 


table tbody td {
  border: none;
  /*color: green;*/
}

section.mytable table tbody td {
  color: green;

}
section.mytable table  {
  width:100%;
  table-layout: fixed

}

pre ol {
  all: unset;
  display: block;
  counter-reset: line-number 0;
}
pre ol li {
  all: unset;
  display: list-item;
  list-style: none;
}
pre ol li::before {
  content: counter(line-number) ": ";
  counter-increment: line-number;
}